

 <!-- Developers, why are we using data-id and not just id? -->
 <table class = 'table table-striped table-condensed table-bordered'>
   <thead>
     <tr>
       <td><h3>Store</h3></td>
       <td><h3>Location</h3></td>
     </tr>
   </thead>
   <tbody>
     {{#each stores as |store|}}
     <tr data-id= {{store.id}}>
       <td>{{store.name}}</td>
       <td>{{store.location}}</td>
     </tr>
     {{/each}}
   </tbody>
 </table>
