<section class = 'main-view items-view' >

  <h3>{{items.1.store.name}}</h3>
  <p> {{items.1.store.location}}</p>
  <p> On Sale From {{items.1.start_date}} to {{items.1.end_date}} </p>


  <ul class="nav nav-pills nav-justified sale-view">
    <li id= 'sale-items' role="presentation" class="active"><a href="#">On Sale Items</a></li>
    <li id= 'sale-recipes' role="presentation"><a href="#">Generated Recipes</a></li>
  </ul>

  <input type="text" class="ItemSearch" placeholder="Search Items">
</section
