


form {
  > input {
      display: block;
      margin: 5px auto;
      width: 50%;
  }

  > legend {
    color: $white;
  }
}

.nav-pills > li {
  float: right;
}

.navbar-right {
  position: sticky;
  top: 10px;
  z-index: 99;
}

.item-photo {
  text-align: center;

  > img {
    max-width: 100%,;
    max-width: 100%;
  }
}
