


form {
  > input {
      display: block;
      margin: 5px auto;
      width: 50%;
  }

  > legend {
    color: $white;
  }
}

.nav-pills > li {
  float: right;
}

.navbar-right {
  position: sticky;
  top: 10px;
  z-index: 99;
}
